<!doctype html>
<html>

<head>
    <title>Categories</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Log out</a>
                </li>
                <li>
                    <a href="{% url 'home' %}">Receipts</a>
                </li>
                <li>
                    <a href="{% url 'create_receipt' %}">Create a receipt</a>
                </li>
                <li>
                    <a href="{% url 'category_list' %}">Expense categories</a>
                </li>
                <li>
                    <a href="{% url 'create_category' %}">Create a category</a>
                </li>
                <li>
                    <a href="{% url 'account_list' %}">Accounts</a>
                </li>
                <li>
                    <a href="{% url 'create_account' %}">Create an account</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'signup' %}">Sign up</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Log in</a>
                </li>

                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>Accounts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for x in account_list.all %}
                <tr>
                    <td> {{ x.name }} </td>
                    <td> {{ x.number }}</td>
                    <td> {{ x.receipts.all|length }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <footer></footer>
</body>

</html>