<!doctype html>
<html>

<head>
    <title>Create Receipt</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Log out</a>
                </li>
                <li>
                    <a href="{% url 'home' %}">Receipts</a>
                </li>
                <li>
                    <a href="{% url 'create_receipt' %}">Create a receipt</a>
                </li>
                <li>
                    <a href="{% url 'category_list' %}">Expense categories</a>
                </li>
                <li>
                    <a href="{% url 'create_category' %}">Create a category</a>
                </li>
                <li>
                    <a href="{% url 'account_list' %}">Accounts</a>
                </li>
                <li>
                    <a href="{% url 'create_account' %}">Create an account</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'signup' %}">Sign up</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Log in</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>Create Receipt</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
    <footer></footer>
</body>

</html>